img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 960px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}
.main .container {
	display: flex;
    
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}
.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}
.main-nav li {
	display: inline;
}
.main-nav a {
	display: inline-block;
	padding: .5em 1.5em;
    color: black;
    font-weight: 600;
}
@media (min-width: 960px) {
	.main .container {
		justify-content: space-between;
	}
}
.loginbun{
  background:transparent;
  border-radius: 4px;
  color: #E5E5E5;
  padding-right: 15px;
  padding-left: 15px;
  border:none ;
  
  font-weight: 600;

}
.trybun:hover,.trybun:active{
  background:#530680;
  border: none;
}
.trybun{
  background:#5408B6;
  border-radius: 4px;
  color: #fff;
  padding-right: 15px;
  padding-left: 15px;
  border:none ;
  
  font-weight: 600;
}
::placeholder {
  /* color: red; */
  font-weight: 600;
  opacity: 1; /* Firefox */
}
.header input {
  width: 70%;
  border: none;
  /* border-bottom: 1px solid #ccc !important; */
}
.headingline{
  padding-left: 115px;
    padding-right: 98px;
}
.headingline h1{
  font-weight: 600;
  color: #530680;
  font-size: 35px;
}
.headingline p{
  font-size: 15px;
  font-weight:400 ;
  color: grey;
  
}
button:focus {
  /* outline: 1px dotted; */
  outline: unset !important;
}
body{
  width: 97%;
}
.headerslider{
  background: #120143;
  margin: 20px 0px 0px 40px;
  padding-top: 5px !important;

  border-radius: 10px;
}
/* owl carousel-css */
#owl-demo .item img{
  display: block !important;
  width: 100px;
  height: 320px;
  margin: auto;
}

.owl-nav button,.owl-nav button:active,.owl-nav button:hover {
  border: none !important;
}
.owl-nav button {
  position: absolute;
  bottom: 0px;
  right: 0px;
  transform: translateY(-50%);
}
.owl-nav button.owl-prev {
  left: 86% !important;
}
.owl-nav button.owl-next {
  right: 0;
}

.owl-nav button span {
    font-size: 50px;    
    position: relative;
    bottom: -70px;
    right: 0px;
}
@media (min-width: 1439px){
  .headingline{
    padding-left: 234px !important ;
    padding-right: 164px !important ;
  }
}
@media only screen and (min-width: 1200px){
  .headingline{
    padding-left: 168px;
    padding-right: 149px;

  }
}
@media (max-width: 769px){
  .headerslider {
    max-width: 85% !important;
    margin-left: 9% !important;
  }
  .headingline {
    
    padding-left: 84px;
    padding-right: -8px;
    margin-top: 2%;
}
}
@media (min-width: 1599px){
  .headingline {
    padding-left: 279px !important;
    padding-right: 155px !important;
    margin-top: 1%;
  }
  }


  .main-nav-list .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .main-nav-list a{
      display: none;
    }
    .main-nav-list a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .headerslider {
      max-width: 85% !important;
      margin-left: 9% !important;
    }
    .toggle {
      order: 1;
      /* font-size: 20px; */
    }
    
    .toggle {
      flex: 1;
      text-align: right;
      order: 2;
    }
    .main-nav-list.responsive {position: relative;}
    .main-nav-list.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .main-nav-list.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .headerslider{
      margin-right: -5%;
    }
  }
/* end */
/*@media (min-width: 1440px){
  .headingline{
    padding-left: 226px !important  ;
    padding-right: 164px !important ;
  }
}
@media (min-width: 1200px){
  .headingline{
    padding-left: 158px;
    padding-right: 162px;

  }
}
@media (min-width: 1015px){
  
  .headingline {
    padding-left: 134px !important;
    padding-right: 47px !important;
}
}
@media (min-width: 767px){
  .headingline {
    padding-left: 199px;
    padding-right: 108px;
    margin-top: 4%;
}
body{
  height: 100%;
    width: 94%;
}
.headerslider{
  margin-left: 3%;
}
}
@media (min-width: 1600px){
  .headingline {
    padding-left: 286px ;
    padding-right: 140px ;
    margin-top: 4%;
}
}
@media (min-width: 425px){
  .headingline {
    padding-left: 61px;
    padding-right: 14px;
    margin-top: 4%;
}
.headerslider{
  margin-left: 5%;
}
body{
  height: 100%;
    width: 91% ;
}
.main-nav a {
  display: inline-block;
  padding: 0.5em 0.5em;
  color: black;
  font-weight: 500;
}

}*/





